#profile {
  margin: 0 auto;
  padding: 1.5rem 0;

  width: 90vw;

  background-color: #BFD56B;

  h1 {
    margin: 0 0 0.5rem 0;

    font-family: 'Staatliches', Arial, sans-serif;
    color: #495551;
    font-weight: 400;
  }

  p {
    max-width: 36rem;
  }
}
