#footer {
  display: flex;
  justify-content: space-between;

  padding: 1rem 0;
  
  background-color: #167171;

  div {
    display: flex;
    justify-content: space-between;

    margin: 0 auto;

    width: 90vw;

    #back-to-top {
      width: 10rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
