@import 'mixins.scss';


#header {
  width: 100%;
  min-height: 72vh;

  background: url(../images/villain.png) no-repeat center fixed;
  background-color: #167171;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 40rem;
  background-position-y: center;

  &:hover {
    background: url(../images/villainx.png) no-repeat center fixed;
    background-color: #167171;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 40rem;
    background-position-y: center;

    @include sm {
      background-size: 73vw;
    }
  }

  @include sm {
    height: 62vh;

    background-size: 73vw;
  }

  #header-name {
    margin: 0 auto;

    width: 90vw;

    h1, h2 {
      margin: 0;
    }
  
    h1 {
      padding-top: 3.5rem;
  
      font-family: 'Staatliches', Arial, sans-serif;
      font-size: 3rem;
      font-weight: 400;
    }
  
    h2 {
      padding-top: 0.5rem;
  
      font-size: 2rem;
      font-weight: 300;
    }
  }
}

@media (hover: none) {
  #header:hover {
    background: url(../images/villain.png) no-repeat center fixed;
    background-color: #167171;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 40rem;
    background-position-y: center;

    @include sm {
      background-size: 73vw;
    }
  }
}
