@import 'mixins.scss';


#navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  width: 100%;

  background-color: #ffffff;

  @include sm {
    flex-direction: column;
    justify-content: center;
  }

  #navigation-toggle {
    display: none;
    justify-content: center;

    padding: 1rem 0;

    color: #2b303b;

    font-size: 3rem;

    @include sm {
      display: flex;
    }
  }

  #navigation-horizontal, #navigation-vertical {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0;
    padding: 0.5rem 1rem;

    list-style: none;

    @include sm {
      display: none;
    }

    li {
      padding: 0.5rem;

      transition: color 0.2s ease;

      color: #2b303b;
      text-decoration: none;

      &:hover {
        color: #feb312;

        cursor: pointer;
      }
    }
  }

  #navigation-vertical {
    flex-direction: column;

    overflow: auto;

    background-color: #eeeeee;

    border-top: black 1px solid;
    border-bottom: black 1px solid;
  }
}

@media (hover: none) {
  #navigation-bar {
    ul {
      li {
        color: #2b303b !important;
      }
    }
  }
}
