@import 'mixins.scss';


#portfolio {
  background-color: #BFD56B;

  #portfolio-selector {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    padding-top: 1.5rem;

    width: 90vw;

    h1 {
      display: inline-block;

      margin: 0;

      font-family: 'Staatliches', Arial, sans-serif;
      color: #495551;
      font-weight: 400;
    }

    #portfolio-buttons {
      margin: 0 0 0.5rem 0;

      button  {
        padding: 0 0.5rem 0 0;
  
        font-family: 'Staatliches', Arial, sans-serif;
        color: #495551;
        font-size: 2rem;
        font-weight: 400;
        text-decoration: underline;
        background: none;
        border: none;
        outline: none;
  
        transition: color 0.2s ease, text-decoration-color 0.2s ease;
  
        &:hover {
          color: #feb312;
          text-decoration-color: #feb312 !important;
          
          cursor: pointer;
        }
      }
    }
  }

  #portfolio-content {
    margin: 0 auto;
    margin-bottom: 1rem;

    width: 90vw;
    max-height: 70rem;

    overflow-x: hidden;
    overflow-y: auto;

    background-color: rgba(1, 1, 1, 0.1);
    border-top: 2px #167171 solid;
    border-bottom: 2px #167171 solid;

    .portfolio-image {
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      break-inside: avoid;

      margin-bottom: 1.875em;
      padding: 0.5rem;

      background-color: #ffffff;
      border-radius: 0.5rem;

      &:hover {
        cursor: pointer;
      }
    }

    #portfolio-container {
      padding: 1rem;

      -webkit-column-count: 4;
      -webkit-column-gap: 1.875em;
      -webkit-column-fill: auto;
      -moz-column-count: 4;
      -moz-column-gap: 1.875em;
      -moz-column-fill: auto;
      column-count: 4;
      column-gap: 1.875em;
      column-fill: auto;

      margin-bottom: -1.875em;

      width: 100%;
      
      overflow: hidden;

      @include lg {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
      }

      @include md {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
      }
    }
  }
}

@media (hover: none) {
  #portfolio-selector {
    button {
      color: #495551 !important;
    }
  }
}
