@import 'mixins.scss';


#portfolio {
  padding-bottom: 0.75rem;

  background-color: #BFD56B;

  h1 {
    margin: 0 auto;
    padding-top: 1.5rem;

    width: 90vw;

    font-family: 'Staatliches', Arial, sans-serif;
    color: #495551;
    font-weight: 400;
  }

  .portfolio-selector {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0 auto;
    margin-top: 0.2rem;
    padding: 0.25rem 2.5vw;

    background-color: #167171;
    border-radius: 1rem;

    h2 {
      margin: 0;
      padding: 0 0.5rem 0 0;

      width: 14rem;

      font-family: 'Staatliches', Arial, sans-serif;
      color: #ffffff;
      font-size: 2rem;
      font-weight: 400;
      background: none;
      border: none;
      outline: none;
    }

    div {
      flex-grow: 4;

      padding-bottom: 0.2rem;

      color: #ffffff;
      font-size: 1.5rem;
      background: none;
      border: none;
      outline: none;

      @include md {
        display: flex;
        justify-content: flex-end;
      }
    }

    &:hover {
      cursor: pointer;

      * {
        color: #feb312;
      }
    }
  }

  .portfolio-container {
    margin: 0 auto;

    width: 95vw;

    .portfolio-image {
      margin-bottom: 1.875em;
      padding: 0.5rem;

      width: 25%;

      background-color: #ffffff;
      border-radius: 0.5rem;

      @include lg {
        width: 33.3%;
      }

      @include md {
        width: 50%;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .portfolio-content {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;

      max-height: 70rem;   

      margin: 0 auto;
      padding: 1rem;

      width: 90vw;

      background-color: #ffffff;
      //border-top: 2px #167171 solid;
      border-bottom: 2px #167171 solid;
      
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}

@media (hover: none) {
  .portfolio-selector {
    * {
      color: #ffffff !important;
    }
  }
}
