@import 'mixins.scss';


#work-experience {
  padding: 1.5rem 0;

  background-color: #167171;

  #work-experience-toggle {
    display: flex;
    

    margin: 0 auto;

    width: 90vw;

    h1 {
      //display: inline-block;

      //margin: 0 0 0.5rem 0;
      margin: 0;
      padding: 0 0.5rem 0 0;

      width: 14rem;

      font-family: 'Staatliches', Arial, sans-serif;
      color: #ffffff;
      font-size: 2rem;
      font-weight: 400;
      background: none;
      border: none;
      outline: none;
    }

    div {
      flex-grow: 4;
      
      padding-top: 0.4rem;

      color: #ffffff;
      font-size: 2.1rem;
      background: none;
      border: none;
      outline: none;
    }

    &:hover {
      cursor: pointer;

      * {
        color: #feb312;
      }
    }
  }

  #work-experience-content {
    margin: 0 auto;

    width: 90vw;

    h3 {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      font-weight: 700;
    }

    h4 {
      margin: 0.25rem 0 0.25rem 0
    }

    ul {
      margin-top: 0.25rem;
      margin-bottom: 0;
      padding: 0;

      width: 50%;

      @include xl {
        width: 100%;
      }
    }

    p {
      margin: 0;

      width: 50%;

      @include xl {
        width: 100%;
      }
    }
  }
}

@media (hover: none) {
  #work-experience-toggle {
    * {
      color: #ffffff !important;
    }
  }
}
