#work-experience {
  padding: 1.5rem 0;

  background-color: #167171;

  #work-experience-toggle {
    margin: 0 auto;

    width: 90vw;

    h1 {
      display: inline-block;

      margin: 0 0 0.5rem 0;

      font-family: 'Staatliches', Arial, sans-serif;
      color: #ffffff;
      font-weight: 400;
    }

    button {
      padding: 0 0 0 0.3rem;

      color: #ffffff;
      font-size: 2.1rem;
      background: none;
      border: none;
      outline: none;

      transition: color 0.2s ease;

      &:hover {
        color: #feb312;

        cursor: pointer;
      }
    }
  }

  #work-experience-content {
    margin: 0 auto;

    width: 90vw;
  }
}

@media (hover: none) {
  #work-experience-toggle {
    button {
      color: #ffffff !important;
    }
  }
}
